UTILITIES="https://docs.google.com/spreadsheets/d/e/asfdasdfasdf/pub?gid=0&single=true&output=csv"
COMPOSITION="https://docs.google.com/spreadsheets/d/e/jkljkljkl/pub?gid=0&single=true&output=csv"

LOC1_NAME = "Los Angeles"
LOC1_LAT  = "33.81"
LOC1_LON  = "-117.92"
LOC1_TZ   = "America/Los_Angeles"

LOC2_NAME = "Tokyo"
LOC2_LAT  = "35.70"
LOC2_LON  = "139.77"
LOC2_TZ   = "Asia/Tokyo"

MARKET1   = "1234567"